<form action="/todos/{{todo._id}}/edit" method="POST">
  <input type="text" placeholder="type name" name="name" value='{{todo.name}}'>
  <button type="submit">Save</button>
  <a href="/">Return</a>
</form>