<a href="./todos/new">New Todo</a>

<hr>
<ul>
  {{#each todos}}
  <li>
    <h4>{{this.name}}
      <a href="/todos/{{this._id}}">Detail</a>
      <a href="/todos/{{this._id}}/edit">Edit</a>
      <form action="/todos/{{this._id}}/delete" method="POST" style="display: inline">
        <button type="submit">Delete</button>
      </form>
    </h4>
  </li>
  {{/each}}
</ul>
<hr>