<form action="/todos" method="POST">
  <h6 class="mt-5 text-danger">提示：可使用 「,」 區隔，一次建立多筆Todo。如： 買花, 買香菜</h6>
  <div class="input-group mt-3">
    <input type="text" placeholder='請輸入 Todo 內容' name="name" class="form-control">
    <div class="input-group-append">
      <button type="submit" class="btn btn-success send">Create</button>
    </div>
  </div>
</form>