<form action="/todos" method="POST">
  <div class="input-group mb-3">
    <input type="text" placeholder="可使用 「,」 區隔，一次建立多筆Todo。如： 買花, 買香菜" name="name" class="form-control">
    <div class="input-group-append">
      <button type="submit" class="btn btn-success">Create</button>
    </div>
  </div>
</form>